* {
    margin: 0;
    padding: 0;
    font-family: 'microsoft yahei';
}

#loutinav {
    width: 100%;
    height:70px;
    position: fixed;
    background: darkslategrey;
    z-index: 2;
    /*top: 100px;*/
    /*left: 50px;*/
    /*border: 1px solid #ddd;*/
    /*display: ;*/

}


#loutinav ul li {
    width: 150px;
    height: 50px;
    border-bottom: 1px dotted #DDDDDD;
    list-style: none;
    font-size: 12px;
    text-align: center;
    position: relative;
    /*float: left;*/
    font-size: 15px;
    line-height: 50px;
    cursor: pointer;
    padding: 10px 0;
    /*background: midnightblue;*/
    color: #fff;
}
.login{
    float: right;
}
.label{
    float: left;
}
#loutinav ul li span {
    width: 150px;
    height: 50px;
    padding: 10px 0;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;

}



#loutinav ul li.last {
    background: #5e4a4a;
    color: #fff;
    /*border-bottom: 1px solid #ddd;*/
}

/*#loutinav ul li.active span {
    background: #c00;
    color: #fff;
    display: block;
}*/

#loutinav ul li:hover span {
    background: #c00;
    color: #fff;
    display: block;
    /*z-index: 2;*/
}
#dss{
    width: 200px;
    height: 100px;
}
#footer {

    width: 100%;
    height: 200px;
    background: #2f4f4f;
    margin: 0 auto;
    font-size: 50px;line-height: 400px;text-align: center;
    /*color: #000;*/
}
.text-desc p{
    text-align: left;
}

#bigblock{
    width: 800px;
    height: 460px;
    margin: 40px auto;

}
.bigname{
     width: 800px;
     padding-left: 20px;
     padding-bottom: 10px;
     font-size: 30px;

     border-bottom: 1px solid #85bfff;
 }
#poster{
    width: 220px;
    height: 280px;
    z-index: 0;
    border: 1px solid #dbd9d5;
}

#ads{
    float: left;
}
.text-desc{
    float: right;
    /*position: absolute;*/
    width: 380px;
    height:200px;
    margin-top: 50px;
    margin-right: 100px;

}
.movie_name{
    width: 100%;
    height: 50px;
    font-size: 24px;
    line-height: 50px;
}
.movie_duration{
    width:40% ;
    float: right;
    height: 50px;

}
.insideblock{

    width: 100%;
    height: 50px;
}
.movie_lable{
    width: 60%;
    float: left;
    height: 50px;
}
.movie_actor{
    width: 100%;
    height: 50px;
    float: none;
}
.movie_description{
    width: 90%;
    height: 50px;
    text-overflow:ellipsis;
}
.movie_description textarea{
    width: 100%;
    height: 80px;
    border: none;
    text-indent:25px;
    font-size: 16px;
}
.movie_price{
    width: 100%;
    height: 50px;
    border-top: black 1px;
}
#insidetitle{
    width: 800px;
    height: 60px;
    margin: 20px auto;
    /*border-bottom: 1px solid black;*/
}
#insidetitle div{
    width:220px ;
    margin: 0 auto;
    border-bottom: none;

}
#insidetitle p{
    float: left;
    color:black ;
    font-size: 25px;
    margin: 8px 10px;

}
.schedule{
    width: 800px;
    height: auto;
    margin: 0px auto 150px;
}

.scene{
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #85bfff;
    margin-bottom: 20px;
}
.scene div{
    /*float: left;*/
    padding-bottom: 5px;
    margin-left: 20px;
    font-size: 20px;
}
.time{
    color: #555555;
    font-size: 20px;
    float: left;
}
.location{
    padding-left: 40px;
    font-size: 20px;
    color: #a7a5a1;
    float: left;
    /*float: right;*/
}
.name{
    float: left;
}
.price{
    color: red;
    font-size: 22px;
    float: right;
}

.book{
    float: right;
    width: 120px;
    /*margin-top: 80px;*/
    height: 50px;
    /*background: rgba(2, 5, 14, 0.37);*/
}
.book button{
    width: 120px;
    height: 40px;
    line-height: 40px;
    /*margin: 20px 50px;*/
    background: #85bfff;
    border: none;
    font-size: 16px;
    border-radius: 10px;
    color: white;
}
.book button :hover{
    background: red;
}
#tmsche{
    display: none;
}
#aftche{
    display: none;
}
#seatModal{
    width: auto;
    display: none;

}
.modal-fade{
    position: fixed;
    /*z-index: 5000;*/
    /*width: 400px;*/
    height: auto;
    border:  1px solid #4e17ff;
    /*max-width: 300px;*/
    /*min-height: 300px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    text-align: center;
    display: none;
}
.modal-header{
    width: 100%;
    height: 40px;
    font-size: 8px;
    line-height: 40px;
    /*transform: translate(-50%, -50%);*/
    background: cornflowerblue;

}
.modal-header h4{
    margin-left: 10px;
    color: white;
}
.close{
    width: 40px;
    height: 40px;
    background: none;
    float: right;
    font-size: 15px;
    color: white;
}
.modal-body{
    background: rgba(131, 186, 255, 0.47);
}
#seats{
    margin: 15px auto;
    padding: 10px 0px;
    width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 255, 0.16);
    /*background: #dbd9d5;*/
}
#seat-footer{
    margin: 10px auto;
}
#seats ul {
    width: auto;
    height: 24px;
    padding:5px 0;
    list-style: none;/*去掉ul样式*/
}
#seats ul li {
    float:left;/*使li水平平铺*/
}

/*为奇数的li*/
/*ul li:nth-child(odd) {*/
/*}*/
/*椅子的样式*/

#seats ul[name = "chair"] li img {
    height: 23px;/*位置宽高*/
    width: 23px;
    /*background: url("/static/img/seat_sale.png");*/
}
/*每行第一个椅子*/
#seats ul[name = "chair"] li:first-child img {
    margin-left:40px;
}
#seats ul[name = "chair"] li:last-child img {
    margin-right:40px;
}
/*奇数椅子*/
#seats ul[name = "chair"] li:nth-child(2n+3) img {
    margin-left:15px;/*异桌椅子之间的距离*/
}
/*偶数椅子*/
#seats ul[name = "chair"] li:nth-child(even) img {
    margin-left:15px;/*同桌椅子之间的距离*/
}
