* {
    margin: 0;
    padding: 0;
    font-family: 'microsoft yahei';
}

body{
    margin: 0px;
}
#filter span{
    margin-left: 15px;
}
#filter input ,select{
    width: 100px;
}

#filter button a{
    width: 80px;
    height: 30px;
}
.page-footer{
    width: 800px;
    height: 40px;
    margin: 20px 40px;
}
.page-footer li{
    float: left;
    margin-left: 40px ;
    list-style-type:none;
}
.form-search{
    width: 970px;
}

.form-search input{
    width: 70px;
    height: 30px;
    float: left;
    margin-right: 10px;
}
.form-search select{
    width: 45px;
    float: left;
    margin-right: 10px;
}
.form-search label{
    float: left;
}
.form-search button{
    margin-left: 20px;
}
.modal-content{
    width:100%;
    /*padding: 0px 15px;*/
}
.modal-header{
    padding: 9px 0px;
}
a{
    color: black;
}
.form-control{
    width: 45px;
}
.form-search div{
    float: left;
}
.modal-dialog{
    margin: 0px 0px;
}
/*.modal-fade {*/
/*    opacity: 0 ;*/
/*    filter: alpha(opacity=0) ;//解决背景颜色加深问题*/
/*}*/