
.modal-dialog{
    width: 100%;
    height: 100%;
}
.modal-fade{
    position: fixed;
    z-index: 5000;
    /*width: 400px;*/
    height: auto;
    border:  1px solid #4e17ff;
    /*max-width: 300px;*/
    /*min-height: 300px;*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    text-align: center;
    display: none;
}
#addModal{
    width: 500px;
    height: 450px;
    /*background: #dbd9d5;*/
}

#addbody{
    margin-top: 20px;
}
.modal-header{
    width: 100%;
    height: 40px;
    font-size: 8px;
    line-height: 40px;
    /*transform: translate(-50%, -50%);*/
    background: cornflowerblue;

}

.modal-header h4{
    margin-left: 10px;
    color: white;
}
.close{
    width: 40px;
    height: 40px;
    background: none;
    float: right;
    font-size: 15px;
    color: white;
}
.modal-title{
    float: left;
}
.modal-body{
    width: 100%;
    height: 260px;
    background:white ;
}

.inputone{
    width:100%;
    height: 50px;
    float: right;
}
.inputone span {
    color: black;
    margin-top: 20px;
    float: left;
    margin-left: 20px;
}
.inputone input{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 80px;
    float: right;
}
#add-footer{
    height: 30px;
    width: 260px;
    margin: 40px auto 20px;
    /*padding-top: 15px;*/
}
#add-footer button{
    margin-right: 40px;
    float: left;
}
#seatModal{
    width: auto;

}
#seats{
    margin: 15px auto;
    padding: 10px 0px;
    width: auto;
    height: auto;
    border: 1px solid rgba(0, 0, 255, 0.16);
    /*background: #dbd9d5;*/
}
#seat-footer{
    margin: 10px auto;
}
#seats ul {
    width: auto;
    height: 24px;
    padding:5px 0;
    list-style: none;/*去掉ul样式*/
}
#seats ul li {
    float:left;/*使li水平平铺*/
}

/*为奇数的li*/
/*ul li:nth-child(odd) {*/
/*}*/
/*椅子的样式*/

#seats ul[name = "chair"] li img {
    height: 23px;/*位置宽高*/
    width: 23px;
    /*background: url("/static/img/seat_sale.png");*/
}
/*每行第一个椅子*/
#seats ul[name = "chair"] li:first-child img {
    margin-left:40px;
}
#seats ul[name = "chair"] li:last-child img {
    margin-right:40px;
}
/*奇数椅子*/
#seats ul[name = "chair"] li:nth-child(2n+3) img {
    margin-left:15px;/*异桌椅子之间的距离*/
}
/*偶数椅子*/
#seats ul[name = "chair"] li:nth-child(even) img {
    margin-left:15px;/*同桌椅子之间的距离*/
}
/*ul[name="chair"] li{*/
/*    background: black;*/
/*}*/
#timeTableModal .modal-body{
    width: 500px;
}
#timeTableModal table{
    width: 100%;
    height: auto;
    border-collapse:collapse;

}
#timeTableModal th{
    /*width: 125px;*/
    font-size: 19px;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #6db1b1;
    color: #ffffff;
}
#timeTableModal td{
    font-size: 16px;
    border: 1px solid #497474;
    padding: 3px 7px 2px 7px;
    height: 50px;
}
#editSeat{
    display: none;
}
#editHallSeat{
    display: none;
}
#scorlltable{
    height: 300px;
    overflow:scroll;
    margin: 10px auto ;
    margin-bottom: 100px;
}
#scrolltr{
    position: sticky;
    top:100px;
}

.form-search{
    width: 700px;
}

.form-search input{
    width: 60px;
    float: left;
    margin-right: 10px;
}
.form-search span{
    float: left;
}






