<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="maximum-scale=3.0,minimum-scale=0.3,user-scalable=1,initial-scale=0.5"/>
    <link type="text/css" rel="styleSheet"  href="/css/book.css" />
    <script src="/js/book.js"></script>

    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>


</head>

<body>
<!--30行20列-->
    <div id="loutinav">
        <ul>
            <!--<li class="active"><span>享品质</span> </li>-->
            <li class="label"><span>首页</span> </li>
            <li class="label"><span>饮食</span> </li>
            <li class="label"><a href="movie.html"></a><span>影片</span> </li>
            <li class="label"><span>播放厅</span> </li>
            <li class="login"><span>登入</span> </li>
            <li class="login"><span>注册</span> </li>

        </ul>
    </div>
    <div id="dss">

    </div>
    <div id="bigblock">
        <div class="bigname" th:text="${movie.mName}"></div>
        <div id="ads">
            <div id="smallable"><img th:src="${movie.poster}" alt=""/></div>



        </div>

        <div class="text-desc">

            <div class="insideblock">
                <p class="movie_lable" th:text="${movie.catergory}"></p>
                <p class="movie_duration" th:text="${movie.duration}+' 分钟'"></p>
            </div>

            <p class="movie_actor" th:text="${movie.actor}"></p>
            <p class="movie_actor" th:text="${movie.director}"></p>

            <p class="movie_description" ><textarea rows="4" th:text="${movie.description}" readonly="readonly"></textarea></p>
            <div th:text="${movie.mId}" id="mId" style="display: none"></div>

        </div>

    </div>
    <div id="insidetitle">
        <div><p id="today" >今天</p>
            <p id="tommorrow">明天</p>
            <p id="aftertomm">后天</p></div>

    </div>
    <div id="tdsche" class="schedule" >
        <div class="scene" th:each="tdscreen:${tdlist}">
            <div class="name" th:text="${tdscreen.mName}"></div>
            <div class="time" th:text=" ${#dates.format(tdscreen.startTime,'HH:mm')}+'-'+${#dates.format(tdscreen.endTime,'HH:mm')}"></div>
            <div class="location" th:text="${tdscreen.hName}"></div>
            <div th:text="${tdscreen.hId}" id="hId" style="display: none"></div>
            <div th:text="${tdscreen.sId}" id="sId" style="display: none"></div>

            <div class="book">
                <button onclick="chooseSeats()">加购</button>
            </div>
            <div class="price" th:text="${tdscreen.price}+' ￥'"></div>
        </div>

    </div>
    <div id="tmsche" class="schedule" th:each="tmscreen:${tmlist}">
        <div class="scene">
            <div class="name" th:text="${tmscreen.mName}"></div>
            <div class="time" th:text="${tmscreen.startTime}+'-'+${tmscreen.endTime}"></div>
            <div class="location" th:text="${tmscreen.hName}"></div>
            <div class="price" th:text="${tmscreen.price}+' ￥'"></div>

            <div class="book">
                <button onclick="chooseSeats()">加购</button>
            </div>

        </div>
    </div>
    <div id="aftche" class="schedule" th:each="aftscreen:${aftlist}">
        <div class="name" th:text="${aftscreen.mName}"></div>
        <div class="time" th:text="${aftscreen.startTime}+'-'+${aftscreen.endTime}">12:00-16:00</div>
        <div class="location" th:text="${aftscreen.hName}"></div>
        <div class="price" th:text="${aftscreen.price}+' ￥'"></div>
<!--        <div th:text="${hall.hId}" id="hId" style="display: none"></div>-->

        <div class="book">
            <button data-toggle="modal"  onclick="chooseSeats()">加购</button>
        </div>
    </div>
<div class="modal-fade"  id="seatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" id="seatModalclose" aria-hidden="true" onclick="closemodal()">
                    &times;
                </button>
                <h4 class="modal-title" >
                    座位表
                </h4>
            </div>
            <div class="modal-body" id="seats">

            </div>
            <div class="modal-footer" id="seat-footer">

                <button  class="btn btn-primary" onclick="addOrders()">
                    提交
                </button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal -->
</div>


<div id="footer">

    </div>
</body>





</html>
