<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <!--    <link type="text/css" rel="styleSheet"  href="/css/index.css" />-->
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <link type="text/css" rel="styleSheet"  href="/css/commom.css" />

</head>
<body>
    <div id="loutinav" th:include="commom::commonNav"></div>

    <div id="dss"/>

    <div class="movie">
        <div class="cover">
            <img  th:src="${movie.poster}" alt=""/>
        </div>
        <div class="text-desc">
            <h3 class="movie_name"  th:text="${movie.mName}"></h3>
            <div class="insideblock">
                <p class="movie_lable" th:text="${movie.catergory}"></p>
                <p class="movie_duration" th:text="${movie.duration}+' 分钟'"></p>
            </div>

            <p class="movie_actor" th:text="${movie.actor}"></p>

            <p class="movie_description"><textarea rows="4" th:text="${movie.description}" readonly="readonly"></textarea></p>
            <p class="movie_price" th:text="${movie.price}+' ￥'">￥</p>
    </div>
</body>
</html>