<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-family: 'microsoft yahei';
        }

    </style>
</head>
<body>
    <div  th:fragment="commonNav" id="loutinav">
        <!--<ul>-->
            <!--&lt;!&ndash;<li class="active"><span>享品质</span> </li>&ndash;&gt;-->
            <!--<li class="label"><a th:href="'/movie/'" ></a><span>首页</span> </li>-->
            <!--<li class="label"><a th:href="@{'/movie/list?pageNum=1'}"  ></a><span>影片</span> </li>-->
            <!--<li class="label"><a th:href="'/hall/list?pageNum=1'" ></a><span>播放厅</span> </li>-->
            <!--<li class="label"><a th:href="'/orders/list?pageNum=1'" ></a><span></span> </li>-->
            <!--<li class="login"><a th:href="'/theater/'" ></a><span>登入</span> </li>-->
            <!--<li class="login"><a th:href="'/theater/register/'" ></a><span>注册</span> </li>-->

        <!--</ul>-->
        <div class="span2">
            <ul class="nav nav-list">
                <li >
                    <a th:href="@{'/movie/theaterlist'}"  >影片</a>
                </li>
                <li>
                    <a th:href="'/hall/list'" >播放厅</a>
                </li>
                <li>
                    <a th:href="'/orders/theaterlist'" >订单</a>
                </li>
                <li>
                    <a th:href="'/screen/list'" >播放场次</a>
                </li>
                <li>
                    <a th:href="'/catergory/list'" >类别</a>
                </li>
                <li>
                    <a th:href="'/theater/'" >退出</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:fragment="userNav" id="footer">
        <div class="span2">
            <ul class="nav nav-list">
                <li >
                    <a th:href="@{'/movie/userlist'}"  >影片</a>
                </li>
                <li>
                    <a th:href="'/orders/list'" >订单</a>
                </li>
                <li>
                    <a th:href="'/theater/'" >退出</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>