<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" />

    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
            font-family: 'microsoft yahei';
        }

    </style>
</head>
<body>
    <div  th:fragment="commonNav" id="loutinav">+
        <div class="span2">
            <ul class="nav nav-list">
                <li >
                    <a th:href="@{'/movie/theaterlist'}"  >影片</a>
                </li>
                <li>
                    <a th:href="'/hall/list'" >播放厅</a>
                </li>
                <li>
                    <a th:href="'/orders/theaterlist'" >订单</a>
                </li>
                <li>
                    <a th:href="'/screen/list'" >播放场次</a>
                </li>
                <li>
                    <a th:href="'/catergory/list'" >类别</a>
                </li>
                <li>
                    <a th:href="'/theater/'" >退出</a>
                </li>
            </ul>
        </div>
    </div>
    <div th:fragment="userNav" id="footer">
        <div class="span2">
            <ul class="nav nav-list">
                <li >
                    <a th:href="@{'/movie/userlist'}"  >影片</a>
                </li>
                <li>
                    <a th:href="'/orders/list'" >订单</a>
                </li>
                <li>
                    <a th:href="'/theater/'" >退出</a>
                </li>
            </ul>
        </div>
    </div>
</body>
</html>