<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" rel="styleSheet"  href="/css/commom.css" />
    <link type="text/css" rel="styleSheet"  href="/css/hall.css" />

    <!---->
    <!--    <link type="text/css" rel="styleSheet"  href="/css/hall.css" />-->
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/avalon.js/2.2.7/avalon.js"></script>
    <script src="/js/hall.js"></script>


</head>
<body ms-controller="hallmodal">
    <div id="loutinav" th:include="commom::commonNav"></div>

    <div id="dss"/>



    <div ms-controller="listmodal">
        <form id="filter" th:action="@{/hall/list}" method="get" >
            <span>使用状态：</span>
            <input type="text" list="l_list" name="useState" id="useState" />
            <datalist id="l_list">
                <option value="使用中"></option>
                <option value="闲置中"></option>
                <option value="已过期"></option>
                <option value="故障中"></option>

            </datalist>
            <span>屏幕类型：</span>
            <input type="text" list="b_list" name="screenCate" id="screenCate"  value="" />
            <datalist id="b_list">
                <option value="2D"></option>
                <option value="3D"></option>
                <option value="MAX"></option>
            </datalist>
            <span>座位大小：</span>
            <input type="text" name="startCount" autocomplete="on" placeholder="" id="startCount"/>
            <span>- </span>
            <input type="text" name="endCount" autocomplete="on" placeholder="" id="endCount" />
            <button>搜索</button>
    </form >
        <table id="movietable">

            <tr>
                <th>厅号</th>
                <th>屏幕类型</th>
                <th>行数</th>
                <th>列数</th>
                <th>座位数</th>
                <th>使用状态</th>
                <th class="action">操作</th>
            </tr>

            <tr th:each="hall:${list.getContent()}">
                <td th:text="${hall.hName}"></td>
                <td th:text="${hall.screenCate}"></td>
                <td th:text="${hall.rows}"></td>
                <td th:text="${hall.cols}"></td>
                <td th:text="${hall.seatCount}"></td>
                <td th:text="${hall.useState}"></td>
                <td th:text="${hall.hId}" id="hId" style="display: none"></td>
                <td class="action">
                    <input type="button" value="时刻表" οnclick="timeTable()" data-toggle="modal" data-target="#timeTableModal"/>
                    <input type="button" value="修改" onclick="editHall()"/>
                    <input  type="button" value="删除" onclick="deleteone();"/>
                </td>
            </tr>

            <tr class="add">
                <td> <a th:href="'/hall/list'">首页</a></td>
                <td> <a th:if="${list.hasPrevious()}" th:href="'/hall/list?pageNum=' + ${list.getNumber()}" th:text="上一页"></a></td>
                <td> <a th:if="${list.hasPrevious()}" th:href="'/hall/list?pageNum=' + ${list.getNumber()}+2" th:text="下一页"></a> </td>
                <td> <a th:href="'/hall/list?pageNum=' + ${list.totalPages - 1}">尾页</a> </td>
                <td></td>
                <td></td>
                <td class="action"><input type="button" οnclick="add()" value="增加" data-toggle="modal" data-target="#addModal"/></td>
            </tr>
<!--            <div class="page-footer">-->
<!--                <ul class="pagination pull-right no-margin">-->
<!--                    <li>-->
<!--                        <a th:href="'/hall/list?pageNum=1'">首页</a>-->
<!--                    </li>-->
<!--                    <li th:if="${list.isHasPreviousPage()}">-->
<!--                        <a th:href="'/hall/list?pageNum=' + ${list.getPrePage()}" th:text="上一页"></a>-->
<!--                    </li>-->
<!--                    <li th:if="${list.isHasNextPage()}">-->
<!--                        <a th:href="'/hall/list?pageNum=' + ${list.getNextPage()}" th:text="下一页"></a>-->
<!--                    </li>-->
<!--                    <li>-->
<!--                        <a th:href="'/hall/list?pageNum=' + ${list.pages - 1}">尾页</a>-->
<!--                    </li>-->

<!--                </ul>-->
<!--            </div>-->




        </table>

        <!-- 模态框（Modal） -->

    </div>
    <div class="modal-fade"  id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="addModalClose" aria-hidden="true">
                        &times;
                    </button >
                    <h4 class="modal-title">
                        添加新影映厅
                    </h4>
                </div>
                <div ms-controller="addmodal" class="modal-body" id="addbody">
                    <form  ms-click="@add">

                        <div class="inputone">
                            <span>厅号：</span>
                            <input type="text"  value="" id="addhname"/>
                        </div>
                        <div class="inputone">
                            <span>屏幕类型：</span>
                            <input type="text" list="b_list" name="screenCate" id="addcate" value="" />
                        </div>
                        <div class="inputone">
                            <span>行数：</span>
                            <input type="text" id="col" value="" />
                        </div>
                        <div class="inputone">
                            <span>列数：</span>
                            <input type="text" id="row"  value=""/>
                        </div>
                    </form>
                </div>
                <div class="modal-footer" id="add-footer">
                    <button  class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button data-toggle="modal"  onclick="createSeats()">座位表</button>

                    <button  class="btn btn-primary">
                        提交更改
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div class="modal-fade"  id="seatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="seatModalclose" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >
                      座位表
                    </h4>
                </div>
                <div class="modal-body" id="seats">

                </div>
                <div class="modal-footer" id="seat-footer">

                    <button  class="btn btn-primary" onclick="closeSeat()">
                        提交
                    </button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>

    <div class="modal-fade"  id="timeTableModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" id="timeTableclose" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" >
                        时刻表
                    </h4>
                </div>
                <div class="modal-body" id="timeTable">
                    <input name="hId" hidden="hidden"/>
                    <form th:action="@{/hall/timeTable}" method="get"></form>
                    <table >

                        <tr>
                            <th>影厅名称</th>
                            <th>影片名称</th>
                            <th>播放开始时间</th>
                            <th>播放结束时间</th>
                        </tr>
                        <tr >
                            <td >1</td>
                            <td >冰雪奇缘</td>
                            <td>2020-04-08 16:30</td>
                            <td>2020-04-08 18:30</td>
                        </tr>
                        <tr >
                            <td >1</td>
                            <td >冰雪奇缘</td>
                            <td>2020-04-08 18:50</td>
                            <td>2020-04-08 20:50</td>
                        </tr>
                        <tr >
                            <td >1</td>
                            <td >乌龙院</td>
                            <td>2020-04-09 8:30</td>
                            <td >2020-04-09 10:11</td>
                        </tr>
                        <tr >
                            <td >1</td>
                            <td >乌龙院</td>
                            <td>2020-04-09 10:31</td>
                            <td >2020-04-09 12:31</td>
                        </tr>

                    </table>
                </div>
                <div class="modal-footer" id="timeTable-footer">


                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
    <div id="footer">

    </div>
    <script type="text/javascript">

    </script>

</body>
</html>