<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link type="text/css" rel="styleSheet"  href="/css/index.css" />
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="/js/index.js"></script>
    <link type="text/css" rel="styleSheet"  href="/css/commom.css" />


</head>
<body>
    <div id="loutinav" th:include="commom::commonNav"></div>

    <div id="dss">

    </div>
    <form  th:action="@{/movie/}" method="get">
        <div id="search">
            <input type="text" name="mName" autocomplete="on" placeholder=""/>
            <span id="searchpic"><img src="/img/search1.jpg" alt=""/></span>
        </div>
    </form>
<!--    <div >-->

<!--        <input type="text" name="keyword" autocomplete="on" placeholder=""/>-->
<!--        <span id="searchpic"><img src="/img/search1.jpg" alt=""/></span>-->
<!--    </div>-->
    <div class="concent">

        <!--    <div class="concent" th:each="showmovie,showmoviestate:${showmovies} " th:each="noshmovie,noshmoviestate: ${noshmovies}">-->
        <div class="title"  >
            <p id="hotshow">院线热映</p>
            <div id="insidetitle">
                <p id="nows" >正在热映</p>
                <p id="nos">即将上映</p>
            </div>
        </div>
            <!--            <p id="nows" th:text=“院线热映"+"$(showmoviestate.size)” ></p>-->
            <!--            <p id="nos" th:text=“即将上映"+"$(noshmoviestate.size)” ></p>-->
<!--        </form>-->
        <div id="slide">
            <button id="right"></button>
            <button id="left"></button>
        </div>
        <div class="show" id="nowshow">

            <div class="movie" th:each="movie:${nowshowlist}">
                <div class="cover">
                    <img  th:src="${movie.poster}" alt=""/>
                </div>
                <div class="text-desc">
                    <p class="movie_name"  th:text="${movie.mName}"></p>
                    <div class="insideblock">
                        <p class="movie_lable" th:text="${movie.catergory}"></p>
                        <p class="movie_duration" th:text="${movie.duration}"></p>
                    </div>

                    <p class="movie_actor" th:text="${movie.actor}"></p>

                    <p class="movie_description"><textarea rows="4" th:text="${movie.description}"></textarea></p>
                    <p class="movie_price" th:text="${movie.price}"></p>
                </div>
                <h3 th:text="${movie.mName}">name</h3>
                <button  >选座购票</button>
            </div>

        </div>

        <div class="show" id="noshow">
            <div class="movie" th:each="movie:${noslist}">
                <div class="cover">
                    <img  th:src="${movie.poster}" alt=""/>
                </div>
                <div class="text-desc">
                    <p class="movie_name"  th:text="${movie.mName}"></p>
                    <div class="insideblock">
                        <p class="movie_lable" th:text="${movie.catergory}"></p>
                        <p class="movie_duration" th:text="${movie.duration}"></p>
                    </div>

                    <p class="movie_actor" th:text="${movie.actor}"></p>

                    <p class="movie_description" th:text="${movie.description}"></p>
                    <p class="movie_price" th:text="${movie.price}"></p>
                </div>
                <h3 th:text="${movie.mName}">name</h3>
                <button  >选座购票</button>
            </div>

        </div>
    </div>
    <div id="footer">

    </div>

    <script type="text/javascript">

        // window.οnlοad=function(){


    </script>

</body>
</html>




