<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"
       xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link href="/css/bootstrap-combined.min.css" rel="stylesheet"/>
    <link href="/css/layoutit.css" rel="stylesheet"/>
    <script src="https://cdn.bootcss.com/jquery/2.0.0/jquery.min.js"></script>
    <link type="text/css" rel="styleSheet"  href="/css/commom.css" />
    <link type="text/css" rel="styleSheet"  href="/css/movielist.css" />

</head>
<body>
    <div id="loutinav" th:include="commom::userNav"></div>
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <div class="row-fluid">
                    <form class="form-search" th:action="@{/movie/userlist}" method="get">
                        <div >

                                <input id="searchInput" class="input-medium search-query" name="mName" type="text" />

                        </div>
                        <div class="btn-group">
                            <input  name="showState" class="input-medium search-query" type="text" list="showState_list"/>
                            <datalist id="showState_list">
                                <option value="预售"></option>
                                <option value="上映"></option>
                            </datalist>
                        </div>
                        <button type="submit" class="btn">查找</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div id="listul">
        <ul>
            <li style="list-style-type:none;" th:each="movie:${list.list}">
<!--                <div>-->
                    <div class="cover">
                        <img  th:src="${movie.poster}" alt=""/>
                    </div>
                    <div class="text-desc">
                        <h3 class="movie_name"  th:text="${movie.mName}"></h3>
                        <div class="insideblock">
                            <p class="movie_lable" th:text="${movie.catergory}"></p>
                            <p class="movie_duration" th:text="${movie.duration}+' 分钟'"></p>
                        </div>

                        <p class="movie_actor" th:text="${movie.actor}"></p>

                        <p class="movie_description" th:text="${movie.description}"></p>
                        <p class="movie_price" th:text="${movie.showState}">￥</p>
                        <div class="theaterOption" id="theaterOption">
                            <select  name="cId" lay-verify="required" onchange="gradeChange(this.options[this.options.selectedIndex])">
                                <option value="" style="display: none"></option>
                                <option th:each="theater:${movie.theaters}"  th:text="${theater.tName}"  th:value="${theater.tId}"   ></option>
                            </select>

<!--                            <input required="required" multiple="multiple" list="theater_list" id="theater"  lay-verify="required" onchange="gradeChange(this.options[this.options.selectedIndex].text)"/>-->
<!--                            <datalist id="theater_list">-->
<!--                                <option value="" style="display: none"></option>-->
<!--                                <option th:each="theater:${movie.theaters}"  th:text="${theater.tName}"  th:value="${theater.tId}" ></option>-->
<!--                            </datalist>-->
                        </div>
                        <a th:href="'/screen/book?mId='+${movie.mId}+'&amp;tId='+1" id="href"><button>选座购票</button></a>
                    </div>

            </li>
        </ul>
    </div>

</body>
<script type="text/javascript">
        var tName;

        function gradeChange(tx) {

            // var href = echarts.init(document.getElementById(href));
            var href=document.getElementById(href);
            tName=tx.text;
            alert(href.getAttribute("href"));
            alert(href.getAttribute("href")+tName);
            href.setAttribute("href",href.getAttribute("href")+tName);

        }

    // document.getElementById('theater').onclick = function (){
    //     console.log(document.getElementById('theater').text)
    // }
</script>
</html>